repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: mixed-line-ending
        args: [--fix=no]
      - id: check-added-large-files
        exclude: (^|/)uv\.lock$
      - id: check-yaml
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-symlinks
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-executables-have-shebangs
      - id: fix-byte-order-marker # makes changes
      # - id: trailing-whitespace # makes changes
      # - id: end-of-file-fixer # makes changes
  - repo: https://github.com/srstevenson/nb-clean
    rev: 4.0.1
    hooks:
      - id: nb-clean
        args:
          - --preserve-cell-metadata
          - --preserve-execution-counts
          - --preserve-notebook-metadata
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty-check
        name: ty-check
        language: python
        entry: ty check
        pass_filenames: false
        args: [--error-on-warning, --python=.venv/]
        additional_dependencies: [ty]
